
*{margin: 0%;}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body{ background-image: url("./content.png");height: 100vh;width: 100vw;object-fit: contain;}
#root{display: flex;}


.d1{height:100vh;width: 13%;background-color: rgba(0, 0, 0, 0.4);position: absolute;overflow: hidden;position: fixed;}
.d2{height:100vh;width: 100vw;}
.dd1{display: flex;gap: 16px;margin-left: 15px;font-family: orbitron;color: #5EC6B8;font-size: 15px;align-items: center;}
.i{vertical-align: middle;}
h5{font-weight: 20;}
h4{font-weight: 20;}
.dd1user{display: flex;gap: 30px;margin-left: 25px;width: 100%;height: 60px;margin-bottom: 12px; font-family: orbitron;color: #5EC6B8;font-size: 15px;align-items: center;}

.s1,.s2,.s3,.s4,.s5,.s6,.s7{height: 55px;position: relative;display: flex;flex-direction: column;justify-content: center;}
.s11{height: 55px; position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;}
/* background-color: rgba(94, 198, 184, 0.05); */



.userimg{height: 30px;width: 30px;border-radius: 50%;}
/* .s1:hover > .see {
    background-color: black;
 }
 */

 
 .d2c1{display: flex;justify-content: flex-end;gap: 10px;height:55px ;align-items: center;
 position: sticky;position: -webkit-sticky;top: 0px;}
 
 .login{width: 105px; height:40px;border-color: rgba(61, 80, 255, 1);color: rgba(61, 80, 255, 1);background-color: rgba(61, 80, 255, 0);font-weight: 400;margin-right: 5px;}
 .signup{width: 105px; height:40px; box-shadow: 5px 2.5px 20px 0.1px rgba(61, 80, 255, 1);margin-right: 20px;background-color: rgba(61, 80, 255, 1);border: none;color: aliceblue;font-weight: 400;}
 
 
 .login:active{background-color: rgba(61, 80, 255, 1);border: none;color: aliceblue;font-weight: 400;}
 
 
 .chosegaame{font-family: orbitron;color: aliceblue;margin-left: 27%;}
 
 .cardparent{display: flex;flex-wrap: wrap;justify-content: center; margin-left: 15%;margin-right: 15px;gap: 20px;margin-top: 2%;}
 
 .card{ background-color: rgba(0, 0, 0, 0.4);width:400px;height: 440px;color: aliceblue;}
 
 .cardimg{width: 100%;}
 .container{padding: 10px;display: flex;flex-direction: column;gap: 5px;}
 p{font-weight: 1;}
 
 .terms{margin-top: 22px; display: flex;flex-direction: column;justify-content: center;align-items: center;color: 
     rgba(78, 170, 255, 0.5);}
 
 .ts{font-size: 12px;}
 .cross{display: none;}
 .bur{display: none;}
 .top{display: none;}
 .userimg2{display: none;}

 .popup{position: absolute; height: 100vh;width: 100vw;background-color: rgba(0, 0, 0, 0.719);z-index: 100;display: flex;justify-content: center;align-items: center;display: none;}


.popupcont{height: 250px;width: 250px;background-color: rgb(0, 0, 0);display: flex;flex-direction: column;padding: 5px;}
.social1,.social2,.social3{display: flex;align-items: center;background-color: rgb(75, 73, 73);margin: 5px;}
.connectfont{color: aliceblue;font-family:orbitron ;}
.connect{margin: 5px;display: flex;align-items: center;justify-content: space-between;}

/* popup 2 */

.popup2{position: absolute; height: 100vh;width: 100vw;background-color: rgba(0, 0, 0, 0.719);z-index: 100;display: flex;justify-content: center;align-items: center;display: none;}

.popupcont2{height: 110px;width: 250px;background-color: rgb(0, 0, 0);display: flex;flex-direction: column;padding: 5px;align-items: center;gap: 30px;justify-content: center;}

.giveflex{display: flex;gap: 20px;}
.popup2but1{color: aliceblue;width: 105px; height:40px;border-color: rgba(61, 80, 255, 1);color: rgba(61, 80, 255, 1);background-color: rgba(61, 80, 255, 0);font-weight: 400;}
.popup2but2{color: aliceblue;width: 105px; height:40px;border-color: rgba(61, 80, 255, 1);color: rgba(61, 80, 255, 1);background-color: rgba(61, 80, 255, 0);font-weight: 400;}
.stylelog{color: aliceblue;font-family: orbitron;font-weight: 100;}


.mobilepopup{display: flex;justify-content: center;margin-top: 150px;gap: 8px;opacity: 0;}
.mobilepopupstyle{color: aliceblue;font-family: orbitron;font-weight: 100;}

.short{width: 60px; height:40px;border-color: rgba(61, 80, 255, 1);color: rgba(61, 80, 255, 1);background-color: rgba(61, 80, 255, 0);font-weight: 400;}
.iconimg{margin-top: 1px;}

.hideearn{display: none;width: 105px; height:40px;border-color: rgba(61, 80, 255, 1);color: rgba(61, 80, 255, 1);background-color: rgba(61, 80, 255, 0);font-weight: 400;}
.hideimg{display: none;}


.bur{display: none;}
 /* .bur{display: none;}
 @media only screen and (max-width: 1148px) {
    .dd1{font-size: 11px;}
    .dd1user{font-size: 11px;}
    h5{font-weight: 20;font-size: 9px;}
    h4{font-weight: 20;font-size: 9px;}
  }

  @media only screen and (max-width: 906px) {
    .dd1{font-size: 11px;}
    .dd1user{font-size: 11px;}
    h5{font-weight: 20;font-size: 7px;}
    h4{font-weight: 20;font-size: 7px;}
  } */

  @media only screen and (max-width: 700px) {
    .mobilepopup{opacity: 1;}
    .bur{display: block;color: aliceblue;font-size:25px;margin-left: 10px;}
    .userimg2{display: block; margin-right: 10px;margin-top: 5px;}
    .hide{display: none;}
     .d2c1{display: flex;justify-content: flex-start;justify-content: space-between;} 
    .dd1user{display: flex;justify-content: flex-end;}
    .hide2{display: none;}
    .cross{display: block;color: aliceblue;margin-right: 30px;font-size:30px;margin-top: 10px;}
    .d1{width: 70%;left: -70%; } 
.cardparent{margin-left: 10px;margin-right: 10px;}
.chosegaame{margin-left: 10px;}
.top{display: block; font-family:orbitron;color: aliceblue;font-weight:100;}

.d1{background-color: rgba(0, 0, 0, 1);}
  }